<div class="row">
  <div class="col-auto">
    <h2> Hello, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Driver Post:</h3>

    <div class="container">
      <div class="jumbotron mx-auto text-center">
        <h1>Be a Carpool Hero!</h1>
        <h3>Add a driver card to your profile!</h3>
        <hr>
        {{!-- Buttons below currently link to nothing --}}
        {{!-- <a href="/" class="btn btn-light btn-lg">
          <span class="fa fa-eye"></span> Search Pets</a>
        <a href="/allPets" class="btn btn-light btn-lg">
          <span class="fa fa-th-list"></span> All Pets</a> --}}
      </div>
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-header">
              Add Pets
            </div>
            <div class="card-body">
              <form action="" method="POST" role="form">

                <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="">
                </div>

                <div class="form-group">
                  <label for="">Description</label>
                  <input type="text" class="form-control" id="description" placeholder="">
                </div>

                <div class="form-group">
                  <label for="">Breed</label>
                  <input type="text" class="form-control" id="breed" placeholder="">
                </div>

                <div class="form-group">
                  <label for="">Age</label>
                  <input type="text" class="form-control" id="age" placeholder="">
                </div>

                <div class="form-group">
                  <label for="">Gender</label>
                  <input type="text" class="form-control" id="gender" placeholder="">
                </div>

                <div class="form-group">
                  <label for="">Location</label>
                  <input type="text" class="form-control" id="location" placeholder="">
                </div>

                <div class="form-group">
                  <label for="">Contact Email</label>
                  <input type="text" class="form-control" id="email" placeholder="">
                </div>

              </form>
              <br>
              <div class="text-right">
                <button type="submit" class="btn btn-primary btn-md" id="add-btn"
                  onclick="window.location.href='/privateOwner'">
                  <span class="fa fa-fire"></span> Add Pet</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">title:{{this.title}}</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">{{this.post_content}}</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="project-id">{{this.user_id}}</label>
        <input class="form-input" type="number" id="project-id" name="project-id" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if drivers.length}}
  <div class="col-md-6 project-list">
    <h3>Your Driver Posts</h3>

    {{#each drivers as |driver|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{driver.id}}">{{this.id}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{driver.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/create-post.js"></script>