<div class="w3-padding-32">
  <div class="w3-bar w3-border">
    <a href="/" class="w3-bar-item w3-button">Home</a>

    <a href="#" class="w3-bar-item w3-button w3-light-grey">My Account</a>
    <a href="/logout" class="w3-bar-item w3-button">Log Out</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small">FAQs</a>

  </div>
</div>

<div class="col-12">
  <div class="w3-center w3-grey w3-padding-16">
    <input type="text" class="form-control rounded" id="searchTxt" placeholder="Enter A City Name" aria-label="Search"
      aria-describedby="search-addon" />
    <button type="button" id="searchBtn" class="w3-button  w3-white w3-border w3-round-large">Search for
      Drivers</button>
  </div>
</div>

{{#each posts}}
<!-- Blog entry -->
<div class="w3-card w3-margin">
  <div class="w3-container w3-padding">
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="https://placehold.jp/30/dd6699/ffffff/300x150.png?text=placeholder+image" alt="Image"
          class="w3-left w3-margin-right" style="width:50px">

        <span class="w3-opacity">Parent Driver:</span>
        <h3><strong>{{this.name}}</strong></h3>
        <h5> Available: {{this.availability}}</h5>
        <span>Pick Up Location:{{this.pickup_Location}}</span></br>
        <span>Drop Off Location:{{this.dropoff_Location}}</span></br>
        <span class="w3-opacity">Post made on: {{this.date_created}}</span>
  </div>
  </li>

  <!-- Comment Card -->
  {{>post-comments item}}
</div>
{{/each}}
<!-- END DRIVER POST ENTRIES -->
</ul>
</div>

</script>
<script type="text/javascript" src="/js/logout.js"></script>
<script type="text/javascript" src="js/display-search.js"></script>